body {
  background-color: #84cb7e;
  text-align: center;
}



h1 {
  background-color: #ecd760;
  padding: 1em;
  margin: 3em;
  border-radius: 1em;
}

a{
text-decoration: none;



}

.container {
  position: relative;
  width: 20em;
  display: inline-block;
  padding: 1em;
  margin: 1em;
}

img {
  display: block;
  width: 20em;
  height: 17em;
  position: relative;
  border-radius: 1em;
  object-fit: cover;
}

.teamnaam {
  position: absolute;
  z-index: 3;
  margin: 9.5em 2em;
  background-color: rgba(0, 0, 0, 0.499);
  color: white;
  padding: 0.3em;
  width: 8em;
  border-radius: 0.5em;
}

.overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: #d79edc;
  border-radius: 1em;
}

.container:hover .overlay {
  opacity: 1;
  width: 20em;
  margin-left: 1em;
}

.text {
  position: absolute;
  padding: 0 1em;
}

p {
  margin-top: 3em;
}

.overlaybottom {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}

.container:hover .overlaybottom {
  height: 95%;
}
