body {
  background-color: #04043A;
  text-align: center;

}


h1{background-color: #EBCA12;

padding: 1em;
margin: 3em;
border-radius: 1em;}

.container {
  position:relative;
  width:20em;
  display:inline-block;
  padding: 1em; 
  margin: 1em;

}

img{
  display:block;
  width:20em;
  position:relative;}

.teamnaam {
   position:absolute;
   z-index: 3;
   margin: 8em 3em;
   background-color:black;
   color:white;
  padding:.3em;
  width: 7em;
  border-radius:.5em;
}


.overlay{
  position:absolute;
  transition:all .3s ease;
  opacity: 0;
  background-color:#d79edc;
}

.container:hover .overlay {
  opacity: 1;
   width: 20em;
   margin-left: 1em;
 }



.text{position:absolute;
}

p{margin-top:3em;}

.overlaybottom {
  width:100%;
  height:0;
  bottom:0;
  left:0;}

.container:hover .overlaybottom {
  height:95%;
}
